[submodule "xml-validate-action"]
	path = xml-validate-action
	url = https://github.com/joeytakeda/xml-validate-action
[submodule "Stylesheets"]
	path = Stylesheets
	url = https://github.com/TEIC/Stylesheets
	branch = main
